*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,  body {height: 100%;}
body{-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-user-select:none;background-color:#e4e4e4;background-image:url('../images/bg.png');background-position:top left;background-repeat:repeat-x;
font-family:'HelveticaNeue-Light','HelveticaNeue',Helvetica,Arial,sans-serif;font-size:12px;height:100%;margin:0;padding:0;width:100%}

.mm-label.button{text-indent:0!important;padding:20px 20px 40px!important}
nav:not(.mm-menu){display:none}
.content,.footer,.header{text-align:center}
.footer,.header{background:#fff;border-bottom:2px solid #777;font-size:16px;font-weight:700;color:#fff;line-height:40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:40px;padding:0 50px}
.header a.bars{display:block;width:40px;height:40px;position:absolute;top:0;left:10px;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAoCAYAAAD6xArmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNrslqENADAMw5ppR/f7bGR0LKRypFIDy6CyXYmtCg0wYMCf7e42KrKO7wkVTwW5kRu5jQGLpxAw4EngI8AAgBsKukF/2aIAAAAASUVORK5CYII=);background-repeat:no-repeat;background-position:center center;}

html.mm-opened.mm-zoom-menu body{background:#333}
html.mm-opened.mm-zoom-menu.mm-light body{background:#f3f3f3}
html.mm-opened.mm-zoom-menu.mm-black body{background:#000}
html.mm-opened.mm-zoom-menu.mm-white body{background:#fff}
html.mm-opened.mm-zoom-menu .mm-page{background-color:#fff}
.mm-menu li .fa{margin:0 20px 0 5px;font-size:16px;width:12px}
.Collapsed,body.no-icons .mm-menu li .fa,body.no-labels .mm-menu .mm-collapsed,body.no-labels .mm-menu .mm-label{display:none!important}

#menu{text-transform:uppercase;}

.logo{margin-left:auto; margin-right:auto; padding-top:9px;}

.content{padding-top:15px;padding-bottom:15px;text-align:left;}
.content>div{padding-left:15px;padding-right:15px;}
.loading{position:absolute;width:32px;height:32px;top:50%;margin-top:4px;left:50%;margin-left:-16px;background:url('../images/loader.gif') center center no-repeat;}
.refresh{position:absolute;top:50%;width:100%;padding-left:15px;padding-right:15px;text-align:center;}

.list-item{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #ddd;font-size:12px;}
.list-item a{display:block;color:#444}
.list-item .image-outer{float:left;width:100px;height:80px;margin-right:15px;background:url('../images/image-placeholder-100x80.jpg') top left no-repeat;}
.list-item img{max-width:100px;}
.list-item .content-outer{display:block;overflow:hidden;zoom:1;}
.list-item small{font-size:90%}

article h5{margin-top:0px;margin-bottom:10px;font-weight:bold;}
article .summary{display:block;margin-bottom:15px;}

#video_wrapper,#video,.videoouter{background-color:#fff!important;}
.videoouter{padding:2px;border:1px solid #eee;position:relative;margin-bottom:15px}
.jwlogo{display:none!important}
.play_border{display:none;position:absolute;top:50%;left:50%;margin:0;margin-left:-22px;margin-top:-22px;z-index:999;border:2px solid rgba(0,0,0,.7);-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;width:40px;height:40px;-webkit-box-shadow:0 0 5px 2px rgba(0,0,0,.5);-moz-box-shadow:0 0 5px 2px rgba(0,0,0,.5);box-shadow:0 0 5px 2px rgba(0,0,0,.5);-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease;cursor:pointer}.play_border:hover{border-color:transparent;-webkit-box-shadow:0 0 5px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 5px 2px rgba(0,0,0,.2);box-shadow:0 0 5px 2px rgba(0,0,0,.2)}.play_border:hover .play_button{border-left:10px solid rgba(0,0,0,.5)}.play_border:active,.play_border:focus{-webkit-box-shadow:0 0 5px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 5.play_button:hoverpx 2px rgba(0,0,0,.2);box-shadow:0 0 5px 2px rgba(0,0,0,.2)}.play_button{position:relative;top:10px;left:40%;width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid rgba(0,0,0,.8)}
